<body>

  <div class="container">
    <div class="row" *ngIf="userLoggedIn != null">
      <div class="col s12 m7">
        <div class="card">
          <div class="card-content">
            <span> Welcome, {{userLoggedIn.FirstName}}!</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="col s8 offset-s2">
      <img src="{{ userLoggedIn.PictureURL }}">
      <div>
        <p>{{ userLoggedIn.Email }}</p>
      </div>
    </div>
    <p>Your role permission is: {{ userLoggedIn.Role }}</p>
  </div>
  <br>
  <br>
  <button type="button" class="btn btn-info" (click)="fetchReservationsForId(userLoggedIn.Id)">My reservations</button>


</body>
