<h2 class="text-center">Update reservation ID {{reservationService.formDataReservation.Id}}</h2>
<br>

<form #formReservation="ngForm" autocomplete="on" (submit)="onSubmit(formReservation)">
 

  <div class="form-group">
    <div class="input-group">
      <input name="Guest" #Title="ngModel" [(ngModel)]="reservationService.formDataReservation.Guest" type="text" class="form-control" placeholder="Guest" required maxlength="50" minlength="3">
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <input name="NoOfPersons" #Description="ngModel" [(ngModel)]="reservationService.formDataReservation.NoOfPersons" type="number" class="form-control" placeholder="Number of persons" minlength="1" maxlength="3" required>
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <label>Arrival date: </label>
      <input name="ArrivalDate" #ArrivalDate="ngModel" [(ngModel)]="reservationService.formDataReservation.ArrivalDate" type="date" class="form-control" placeholder="Arrival date" required>
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <label>Departure date: </label>
      <input name="DepartureDate" #DepartureDate="ngModel" [(ngModel)]="reservationService.formDataReservation.DepartureDate" type="date" class="form-control" placeholder="Departure date" required>
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <label for="RoomType">Room type: </label>
      <select id="roomtype " form="RoomType" name="RoomType" #RoomType="ngModel" [(ngModel)]="reservationService.formDataReservation.RoomType" type="text" class="form-control" placeholder="Room type" required>
        <option value="Economy">Economy</option>
        <option value="Balcony">Balcony</option>
        <option value="Seaview">Seaview</option>
        <option value="Deluxe">Deluxe</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <label for="BreakfastIncluded">Breakfast: </label>
      <input name="BreakfastIncluded" #Watched="ngModel" [(ngModel)]="reservationService.formDataReservation.BreakfastIncluded" class="form-control" type="radio" value="true">
      <label for="BreakfastIncluded">No breakfast: :</label>
      <input name="BreakfastIncluded" #Watched="ngModel" [(ngModel)]="reservationService.formDataReservation.BreakfastIncluded" class="form-control" type="radio" value="false">
    </div>
  </div>

  <div class="form-group">
    <button class="btn btn-success btn-lg btn-block" type="submit" [disabled]="formReservation.invalid">
      Submit
    </button>
  </div>


</form>




