
      <h2 class="text-center">Add a hotel</h2>
      <br>


      <form [formGroup]="hotelReactiveForm" [hidden]="success" autocomplete="on" (ngSubmit)="onSubmit(hotelReactiveForm)">

        <input type="hidden" name="Id" [value]="service.formDataHotel.Id">


        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text bg-white">
                <i class="fas fa-h-square" [class.green-icon]="HotelName.valid" [class.red-icon]="HotelName.invalid && HotelName.touched"></i>
              </div>
            </div>
            <input formControlName="HotelName" type="text" class="form-control" placeholder="HotelName" required maxlength="50" minlength="3">
            <div *ngIf="(HotelName.dirty || HotelName.touched) && HotelName.invalid" class="alert alert-danger">
              <div *ngIf="HotelName.errors.required">Hotel name is required.</div>
              <div *ngIf="HotelName.errors.minlength">Hotel name should have at least 3 characters.</div>
              <div *ngIf="HotelName.errors.maxlength">Hotel name should have at most 50 characters.</div>
            </div>
          </div>
        </div><br>


        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text bg-white">
                <i class="fas fa-city"></i>
              </div>
              <input formControlName="City" type="text" class="form-control" placeholder="City" required />
              <div *ngIf="(City.dirty || City.touched) && City.invalid" class="alert alert-danger">
                <div *ngIf="City.errors.required">City is required.</div>
              </div>
            </div>
          </div>
        </div><br>


        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text bg-white">
                <i class="fas fa-warehouse"></i>
              </div>
            </div>
            <input formControlName="Capacity" type="number" placeholder="Capacity" required>
            <div *ngIf="(Capacity.dirty || Capacity.touched) && Capacity.invalid" class="alert alert-danger">
              <div *ngIf="Capacity.errors.required">Capacity is required.</div>
            </div>
          </div>
        </div><br>




        <div class="form-group">
          <button class="btn btn-success btn-lg btn-block" type="submit" [disabled]="formHotel.invalid">
            <i class="fas fa-database"></i>  Add hotel
          </button>
          <button class="btn btn-danger btn-lg btn-block" (click)="hotelReactiveForm.reset()">Reset form</button>
        </div>


      </form>






