<h4>Filter by date:</h4>
<br>
<form #form="ngForm" autocomplete="on" (submit)="onSubmit(form)">
  <p>From date:</p>
  <input name="from" [(ngModel)]="from">
  <br>
  <p>To date:</p>
  <input name="to" [(ngModel)]="to">
  <br>
  <button type="submit">Filter</button>
  <br>
</form>
<br>
<br>
<button (click)="refreshList()">Refresh list</button>
<br>
<br>

<table class="table table-hover">

  <thead class="thead-dark">
    <tr>
      <th>Id</th>
      <th>Hotel</th>
      <th>ArrivalDate</th>
      <th>DepartureDate</th>
      <th>Operations</th>
    </tr>
  </thead>

 
  <tr *ngFor="let r of reservationList">
 
    <td (click)="populateForm(r)">{{r.Id}}</td>  
    <td (click)="populateForm(r)">{{r.Hotel.HotelName}}</td>
    <td (click)="populateForm(r)">{{r.ArrivalDate | date: 'yyyy-MM-dd'}}</td>
    <td (click)="populateForm(r)">{{r.DepartureDate | date: 'yyyy-MM-dd'}}</td>
    <td>
      <a [routerLink]="['/reservation-details', r.Id]" routerLinkActive="active"> <i class="fas fa-info fa-lg text-primary"></i>  </a>
      <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(r.Id)"></i>
    </td>
  </tr>

</table>

