
<h3 class="text-center">Details for the selected reservation</h3>
<br>

<label>Id: {{selectedReservation.Id}}</label>
<br>
<label>Hotel name: {{selectedReservation.Hotel.HotelName}}</label>
<br>
<label>City: {{selectedReservation.Hotel.City}}</label>
<br>
<label>Guest name: {{selectedReservation.Guest}}</label>
<br>
<label>Number of persons: {{selectedReservation.NoOfPersons}}</label>
<br>
<label>Arrival date: {{selectedReservation.ArrivalDate | date: 'yyyy-MM-dd'}}</label>
<br>
<label>Departure date: {{selectedReservation.DepartureDate | date: 'yyyy-MM-dd'}}</label>
<br>
<label>Room type: {{selectedReservation.RoomType}}</label>
<br>
<br>
<br>



<button type="button" class="btn btn-success" [routerLink]="['/update-reservation/' + reservationService.selectedReservation.Id]" (click)="updateBtnClicked()">
  <i class="fas fa-edit"></i>
  Edit this reservation
</button>
<br>
<br>
<button type="button" class="btn" (click)="goBack()">Back</button>


